compartment_id: COMPARTMENT_ID

shared_dag_config:
  retries: 5
  retry_delay: 300        # Retry delay in seconds (5 minutes)
  max_active_runs: 1      # Maximum active DAG runs allowed
  catchup: false          # Whether to catch up missed DAG runs
  start_date: "2024-11-20T00:00:00" # Start date in ISO 8601 format
  run_poll_interval: 60

shared_dataflow_config:
  driver_shape: VM.Standard.E4.Flex
  executor_shape: VM.Standard.E4.Flex
  driver_shape_config:
    ocpus: 2
    memory_in_gbs: 32
  executor_shape_config: 
    ocpus: 2
    memory_in_gbs: 32
  num_executors: 2

dag_configs:
  aggregation:
    dag_id: "airflow_dag_albada_data_aggregation_pipelines"
    description: "ALBADA DAG for Aggregation Pipelines"
    schedule_interval: "30 2 * * *"  # Aggregation DAG schedule
    retries: 3
    execution_mode: "parallel"  # Can be "parallel" or "sequential"
    pipeline_apps:
      - application_id_abc_submit
      - application_id_tse_outflow
      - application_id_parameter_on_off
      - application_id_wrp_site_lab
      - application_id_exclude_sample
      - application_id_inflow_company_mapping
      - application_id_outflow_company_mapping
      - application_id_source_mapping
      - application_id_outflow_parameter_attributes

  curation:
    dag_id: "airflow_dag_albada_data_curation_pipelines"
    description: "ALBADA DAG for Curation Pipelines"
    schedule_interval: "30 3 * * *"  # Curation DAG schedule
    max_active_runs: 1  # Override shared config for max active runs
    execution_mode: "hierarchical"  # Default to sequential for this pipeline
    pipeline_apps:
      - application_id_dim_wastewater_phase
      - application_id_dim_transportation
      - application_id_dim_waterqa_supplier
      - application_id_dim_reg_parameter
      - application_id_dim_location
      - application_id_dim_service_location
      - application_id_dim_meas_variable
      - application_id_fact_inflow_outflow
      - application_id_fact_ww_sample_result
    pipeline_hierarchy:
      batch1:
        tasks:
          - application_id_dim_wastewater_phase
          - application_id_dim_transportation
          - application_id_dim_waterqa_supplier
          - application_id_dim_location
          - application_id_dim_meas_variable
        depends_on: []  # No dependencies, these are top-level tasks
        execution_mode: parallel  # Independent tasks can run in parallel
      batch2:
        tasks:
          - application_id_dim_reg_parameter
          - application_id_dim_service_location
        depends_on:
          - batch1  # Both tasks depend on DIM_WASTEWATER_PHASE and DIM_LOCATION
        execution_mode: parallel
      batch3:
        tasks:
          - application_id_fact_inflow_outflow
          - application_id_fact_ww_sample_result
        depends_on:
          - batch2  # Facts depend on all prior batches
        execution_mode: parallel  # Facts can run in parallel

  consumption:
    dag_id: "airflow_dag_albada_data_consumption_pipelines"
    description: "ALBADA DAG for Consumption Pipelines"
    schedule_interval: "30 4 * * *"  # Consumption DAG schedule  
    execution_mode: "parallel"
    pipeline_apps:
      - application_id_mv_ww_flow
      - application_id_mv_ww_result

Applications:
  details:
### Aggregation pipeline Configs

    application_id_abc_submit: df-app-aggregation_ww_abc_submit_inflow_id
    abc_submit_display_name: df-app-aggregation_ww_abc_submit_inflow

    application_id_tse_outflow: df-app-aggregation_ww_outflow_operator_id
    tse_outflow_display_name: df-app-aggregation_ww_outflow_operator
    
    application_id_parameter_on_off: df-app-aggregation_ww_parameter_on_off_id
    parameter_on_off_display_name: df-app-aggregation_ww_parameter_on_off

    application_id_wrp_site_lab: df-app-aggregation_ww_wrp_site_lab_report_id
    wrp_site_lab_display_name: df-app-aggregation_ww_wrp_site_lab_report

    application_id_exclude_sample: df-app-aggregation_ww_exclude_samples_id
    exclude_sample_display_name: df-app-aggregation_ww_exclude_samples

    application_id_inflow_company_mapping: df-app-aggregation_ww_inflow_company_mapping_id
    inflow_company_mapping_display_name: df-app-aggregation_ww_inflow_company_mapping

    application_id_outflow_company_mapping: df-app-aggregation_ww_outflow_company_mapping_id
    outflow_company_mapping_display_name: df-app-aggregation_ww_outflow_company_mapping

    application_id_source_mapping: df-app-aggregation_ww_source_mapping_id
    source_mapping_display_name: df-app-aggregation_ww_source_mapping

    application_id_outflow_parameter_attributes: df-app-aggregation_ww_parameter_attributes_id
    outflow_parameter_attributes_display_name: df-app-aggregation_ww_parameter_attributes

### Curation pipeline Configs
    application_id_dim_wastewater_phase: df-app-curated_dim_wa_op_wastewater_phase_id
    dim_wastewater_phase_display_name: df-app-curated_dim_wa_op_wastewater_phase

    application_id_dim_transportation: df-app-curated_dim_wa_op_transportation_id
    dim_transportation_display_name: df-app-curated_dim_wa_op_transportation

    application_id_dim_waterqa_supplier: df-app-curated_dim_wa_org_waterqa_supplier_albada_id
    dim_waterqa_supplier_display_name: df-app-curated_dim_wa_org_waterqa_supplier_albada

    application_id_dim_reg_parameter: df-app-curated_dim_wa_reg_parameter_albada_id
    dim_reg_parameter_display_name: df-app-curated_dim_wa_reg_parameter_albada

    application_id_dim_location: df-app-curated_dim_cr_loc_location_albada_id
    dim_location_display_name: df-app-curated_dim_cr_loc_location_albada

    application_id_dim_service_location: df-app-curated_dim_cr_loc_customer_service_location_albada_id
    dim_service_location_display_name: df-app-curated_dim_cr_loc_customer_service_location_albada

    application_id_dim_meas_variable: df-app-curated_dim_cr_op_meas_variable_albada_id
    dim_meas_variable_display_name: df-app-curated_dim_cr_op_meas_variable_albada

    application_id_fact_inflow_outflow: df-app-curated_fact_ww_eve_inflow_outflow_id
    fact_inflow_outflow_display_name: df-app-curated_fact_ww_eve_inflow_outflow

    application_id_fact_ww_sample_result: df-app-curated_fact_ww_eve_sample_result_id
    fact_ww_sample_result_display_name: df-app-curated_fact_ww_eve_sample_result

### Consumption pipeline Configs
    application_id_mv_ww_flow: df-app-presentation_mv_ww_albada_sample_flow_id
    mv_ww_flow_display_name: df-app-presentation_mv_ww_albada_sample_flow

    application_id_mv_ww_result: df-app-presentation_mv_ww_albada_sample_result_id
    mv_ww_result_display_name: df-app-presentation_mv_ww_albada_sample_result

dataflow_app:
### Aggregation pipeline Config
  ##1 ABC Submit data
  - application_id: application_id_abc_submit
    logs_bucket_uri: oci://OPERATIONS_BUCKET@NAMESPACE/dataflow-applications/logs/
    pool_id: POOL_ID
    private_endpoint_id: PRIVATE_ENDPOINT_ID

  ##2 TSE Outflow data
  - application_id: application_id_tse_outflow
    logs_bucket_uri: oci://OPERATIONS_BUCKET@NAMESPACE/dataflow-applications/logs/
    pool_id: POOL_ID
    private_endpoint_id: PRIVATE_ENDPOINT_ID

  ##3 Parameter On Off
  - application_id: application_id_parameter_on_off
    logs_bucket_uri: oci://OPERATIONS_BUCKET@NAMESPACE/dataflow-applications/logs/
    pool_id: POOL_ID
    private_endpoint_id: PRIVATE_ENDPOINT_ID

  ##4 WRP SITE LAB
  - application_id: application_id_wrp_site_lab
    logs_bucket_uri: oci://OPERATIONS_BUCKET@NAMESPACE/dataflow-applications/logs/
    pool_id: POOL_ID
    private_endpoint_id: PRIVATE_ENDPOINT_ID

  ##5 Exclude Samples
  - application_id: application_id_exclude_sample
    logs_bucket_uri: oci://OPERATIONS_BUCKET@NAMESPACE/dataflow-applications/logs/
    pool_id: POOL_ID
    private_endpoint_id: PRIVATE_ENDPOINT_ID

  ##6 Inflow Company Mapping
  - application_id: application_id_inflow_company_mapping
    logs_bucket_uri: oci://OPERATIONS_BUCKET@NAMESPACE/dataflow-applications/logs/
    pool_id: POOL_ID
    private_endpoint_id: PRIVATE_ENDPOINT_ID

  ##7 Outflow Company Mapping
  - application_id: application_id_outflow_company_mapping
    logs_bucket_uri: oci://OPERATIONS_BUCKET@NAMESPACE/dataflow-applications/logs/
    pool_id: POOL_ID
    private_endpoint_id: PRIVATE_ENDPOINT_ID

  ##8 Source Mapping
  - application_id: application_id_source_mapping
    logs_bucket_uri: oci://OPERATIONS_BUCKET@NAMESPACE/dataflow-applications/logs/
    pool_id: POOL_ID
    private_endpoint_id: PRIVATE_ENDPOINT_ID

  ##9 Parameter Attributes
  - application_id: application_id_outflow_parameter_attributes
    logs_bucket_uri: oci://OPERATIONS_BUCKET@NAMESPACE/dataflow-applications/logs/
    pool_id: POOL_ID
    private_endpoint_id: PRIVATE_ENDPOINT_ID

### Curation pipeline Config
  ##1 DIM Waste Water Phase
  - application_id: application_id_dim_wastewater_phase
    logs_bucket_uri: oci://OPERATIONS_BUCKET@NAMESPACE/dataflow-applications/logs/
    pool_id: POOL_ID
    private_endpoint_id: PRIVATE_ENDPOINT_ID

  ##2 DIM Transportation
  - application_id: application_id_dim_transportation
    logs_bucket_uri: oci://OPERATIONS_BUCKET@NAMESPACE/dataflow-applications/logs/
    pool_id: POOL_ID
    private_endpoint_id: PRIVATE_ENDPOINT_ID

  ##3 DIM WaterQA Supplier
  - application_id: application_id_dim_waterqa_supplier
    logs_bucket_uri: oci://OPERATIONS_BUCKET@NAMESPACE/dataflow-applications/logs/
    pool_id: POOL_ID
    private_endpoint_id: PRIVATE_ENDPOINT_ID

  ##4 DIM Reg Parameter
  - application_id: application_id_dim_reg_parameter
    logs_bucket_uri: oci://OPERATIONS_BUCKET@NAMESPACE/dataflow-applications/logs/
    pool_id: POOL_ID
    private_endpoint_id: PRIVATE_ENDPOINT_ID

  ##5 DIM Location
  - application_id: application_id_dim_location
    logs_bucket_uri: oci://OPERATIONS_BUCKET@NAMESPACE/dataflow-applications/logs/
    pool_id: POOL_ID
    private_endpoint_id: PRIVATE_ENDPOINT_ID

  ##6 DIM Service Location
  - application_id: application_id_dim_service_location
    logs_bucket_uri: oci://OPERATIONS_BUCKET@NAMESPACE/dataflow-applications/logs/
    pool_id: POOL_ID
    private_endpoint_id: PRIVATE_ENDPOINT_ID

  ##7 DIM MEAS Variable
  - application_id: application_id_dim_meas_variable
    logs_bucket_uri: oci://OPERATIONS_BUCKET@NAMESPACE/dataflow-applications/logs/
    pool_id: POOL_ID
    private_endpoint_id: PRIVATE_ENDPOINT_ID

  ##8 FACT Inflow Outflow
  - application_id: application_id_fact_inflow_outflow
    logs_bucket_uri: oci://OPERATIONS_BUCKET@NAMESPACE/dataflow-applications/logs/
    pool_id: POOL_ID
    private_endpoint_id: PRIVATE_ENDPOINT_ID

  ##9 FACT Result
  - application_id: application_id_fact_ww_sample_result
    logs_bucket_uri: oci://OPERATIONS_BUCKET@NAMESPACE/dataflow-applications/logs/
    pool_id: POOL_ID
    private_endpoint_id: PRIVATE_ENDPOINT_ID

### Consumption pipeline Config
  ##1 MV WW Albada Result
  - application_id: application_id_mv_ww_flow
    logs_bucket_uri: oci://OPERATIONS_BUCKET@NAMESPACE/dataflow-applications/logs/
    pool_id: POOL_ID
    private_endpoint_id: PRIVATE_ENDPOINT_ID

  ##2 MV WW Albada Flow
  - application_id: application_id_mv_ww_result
    logs_bucket_uri: oci://OPERATIONS_BUCKET@NAMESPACE/dataflow-applications/logs/
    pool_id: POOL_ID
    private_endpoint_id: PRIVATE_ENDPOINT_ID
