compartment_id: "ocid1.compartment.oc1..aaaaaaaaly6cyhdxvvnldnu5hfk53hqxxedwc5kxh5ailrbtsmgtt3apguja"

shared_dag_config:
  retries: 3
  retry_delay: 300          # seconds
  max_active_runs: 1
  catchup: false
  start_date: "2024-11-20T00:00:00"
  run_poll_interval: 60

shared_dataflow_config:
  driver_shape: "VM.Standard.E4.Flex"
  executor_shape: "VM.Standard.E4.Flex"
  driver_shape_config:
    ocpus: 2
    memory_in_gbs: 32
  executor_shape_config:
    ocpus: 2
    memory_in_gbs: 32
  num_executors: 2

dag_configs:
  aggregation:
    dag_id: "airflow_dag_p6_pds_to_oci_adw"
    description: "P6 PDS → OCI Object Storage + ADW via Data Flow"
    schedule_interval: "0 1 * * *"   # every day at 01:00
    retries: 3
    execution_mode: "sequential"
    pipeline_apps:
      - application_id_p6_adw_ops    # this key is defined below in Applications.details

Applications:
  details:
    # logical key -> Data Flow APPLICATION OCID
    application_id_p6_adw_ops: "ocid1.dataflowapplication.oc1.me-jeddah-1.anvgkljrsvwgetyaxnw2rixeskawy7alpmkp3s7rsivm5rlcg6dtv4kmyptq"
    p6_adw_ops_display_name: "P6_PDS_to_OCI_ADW"

dataflow_app:
  - application_id: "application_id_p6_adw_ops"
    logs_bucket_uri: "oci://bkt-neom-enowa-des-dev-data-landing@axjj8sdvrg1w/Logs/"
    # pool_id: ""                # leave out or fill later if you introduce a pool
    # private_endpoint_id: ""    # add later if you need VCN access

    # OPTIONAL: env-style config passed into the run (matches your script’s env vars)
    configuration:
      OS_NAMESPACE: "axjj8sdvrg1w"
      OS_BUCKET: "bkt-neom-enowa-des-dev-data-landing"
      OS_PREFIX_META: "common/API/P6/metadata"
      OS_PREFIX_DATA: "common/API/P6/data"
      OS_PREFIX_INDEX: "common/API/P6/logs"
      PDS_BASE: "https://ksa1.p6.oraclecloud.com/neom/uat"
      PDS_CONFIG_CODE: "ds_p6adminuser"
      WRITE_MODE: "overwrite"
      PAGE_SIZE: "5000"
      DATAFLOW_APP_ID: "ocid1.dataflowapplication.oc1.me-jeddah-1.anvgkljrsvwgetyaxnw2rixeskawy7alpmkp3s7rsivm5rlcg6dtv4kmyptq"
